.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 300px;
  /* Fixed width */
  box-sizing: border-box;
  flex-shrink: 0;
  max-height: 85vh;
  /* Increased height limit */
  overflow: hidden;
  /* Prevent overflow */
  margin-top: 59px;
}

.rpg-shield {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #00ccff;
  background-color: rgba(10, 25, 40, 0.5);
  box-shadow: inset 0 0 15px rgba(0, 204, 255, 0.3), 0 0 15px rgba(0, 204, 255, 0.2);
}

.d20-logo {
  max-width: 100%;
  height: auto;
  max-height: 225px;
  filter: drop-shadow(0 0 5px rgba(0, 204, 255, 0.8));
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}